@using Tobiso.Web.Shared.DTOs
@using Markdig
<h3>Posts</h3>
@page "/posts-incognito"
@inject Tobiso.Web.Shared.Interfaces.ITobisoWebApi Api
<PageTitle>Incognito posts</PageTitle>
<style>
    .sidebar {
        display: none;
    }
</style>
@if (selectedPost != null)
{
    <button class="btn btn-secondary mb-3" @onclick="BackToList">Zpět na seznam</button>
    <h4>@selectedPost.Title</h4>
    <div class="mb-4">
        @((MarkupString)Markdig.Markdown.ToHtml(selectedPost.Content))
    </div>
}
else
{
    <a href="/">Login to Admin panel</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">File Path</th>
                </tr>
            </thead>
            <tbody>
                @if (postLinks == null)
                {
                    <tr><td colspan="3">Načítám...</td></tr>
                }
                else if (!postLinks.Any())
                {
                    <tr><td colspan="3">Žádné příspěvky k zobrazení.</td></tr>
                }
                else
                {
                    @foreach (var post in postLinks)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>
                                <NavLink href=@($"/post/{post.Id}")>@post.Title</NavLink>
                            </td>
                            <td>@post.FilePath</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@code {
    private IList<PostLinkResponse>? postLinks;
    private PostResponse? selectedPost;

    protected override async Task OnInitializedAsync()
    {
        postLinks = await Api.GetPostLinks();
    }

    private async Task ShowPost(int id)
    {
        selectedPost = await Api.GetPostById(id);
    }

    private void BackToList()
    {
        selectedPost = null;
    }
}